/App/Plato/checkpoint
/App/Plato/models
/App/Plato/samples
/App/Katniss_Everdeen/checkpoint
/App/Katniss_Everdeen/models
/App/Katniss_Everdeen/samples
/App/Harry_Potter/checkpoint
/App/Harry_Potter/models
/App/Harry_Potter/samples